// Styling for chartjs containers

.chart-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: $primary;
  }
}

.the-chart {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
